.hero-div {
    border: 1px solid black;
    width: 30rem;
    height: 37rem;
    padding: 0 2rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .directions {
        border: 1px solid red;
        display: flex;
        .whalecard-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1px;
            img {
                height: 2rem;
            }
        }
    }
    .talents {
        height: 80%;
        border: 1px solid red;
        overflow-y: scroll;
        // :not(:last-child) {
        //     margin-bottom: 2rem;
        // }
        .talent-containers {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.5rem;
            padding: 0 .3rem;
            height: 10rem;
            border: 1px solid black;
            overflow-x: hidden;
            .slider{
                display: flex;
                align-items: center;
                width: 90%;
                height: 100%;
                .slick-arrow {
                    content: "\2192";
                    color: black;
                    height: 100%;
                    border: 1px solid black;
                }
                .slick-prev:before {
                    color: #000;
                    content: "\2190";
                }
                .slick-next:before {
                    color: #000;
                    // content: "\2192";
                }
                .slick-track {
                    display: flex;
                }
            }
            .talent-pofile {
                // display: flex;
                border: 1px solid gray;
                padding: 2.5rem 0.6rem;
                .flag {
                    width: 70px;
                    height: 30px;
                }
                .avatar {
                    width: 60px;
                    height: 30px;
                }
            }
        }

    }
    .customer-logo {
        height: 2rem;
        border: 1px solid red;
    }
}
